<tr class="message-row" data-mail-id="{{MailId}}">
    <td>
        <span class="glyphicon glyphicon-envelope"></span>
        <span class="glyphicon glyphicon-phone"></span>
    </td>
    <td>
        {{SentOnFormatted}}
    </td>
    <td>
        {{ToAddress}}
    </td>
    <td>
        {{Subject}}
    </td>
</tr>