<tr class="message-row{{#is MessageType "Mail"}} clickable-row{{/is}}" {{#is MessageType "Mail"}} data-mail-id="{{MessageId}}" {{/is}}>
    <td>
        {{#is MessageType "Mail"}}
        <span class="glyphicon glyphicon-envelope"></span>
        {{/is}}
        {{#is MessageType "Sms"}}
        <span class="glyphicon glyphicon-phone"></span>
        {{/is}}
        {{#if AttachmentNames}}
        <span class="glyphicon glyphicon-paperclip" />
        {{/if}}
    </td>
    <td>
        {{SentOnFormatted}}
    </td>
    <td>
        {{ToAddress}}
    </td>
    <td>
        {{Subject}}
    </td>
</tr>