@model IEnumerable<PickupMailViewer.Models.MailModel>

<script id="mailRowTemplate" type="text/html">
    @* Mustache.js template for each row *@
    <tr class="message-row" data-mail-id="{{MailId}}">
        <td>
            {{SentOnFormatted}}
        </td>
        <td>
            {{ToAddress}}
        </td>
        <td>
            {{Subject}}
        </td>
    </tr>
</script>
<script id="initial-messages" type="application/json">
    @* Initial mails in JSON format *@
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
</script>
<table class="table" id="mail-table">
    <thead>
        <tr>
            <th>
                Sent Date
            </th>
            <th>
                To
            </th>
            <th>
                Subject
            </th>
        </tr>
    </thead>
    <tbody>
        @* table rows are added via mustache.js templates from the JSON data in #initial-messages *@
    </tbody>
</table>
