@model IEnumerable<PickupMailViewer.Models.MailModel>

<table class="table" id="mail-table">
    <tr>
        <th>
            Sent Date
        </th>
        <th>
            To
        </th>
        <th>
            Subject
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("FileRow", item)
    }
</table>
