@model IEnumerable<PickupMailViewer.Models.MessageTimeModel>
<script id="initial-messages" type="application/json">
    @* Initial mails in JSON format *@
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(m => m.Model.Value)))
</script>
<table class="table" id="message-table">
    <thead>
        <tr>
            <th></th>
            <th>
                Sent Date
            </th>
            <th>
                To
            </th>
            <th>
                Subject
            </th>
        </tr>
    </thead>
    <tbody>
        @* table rows are added via mustache.js templates from the JSON data in #initial-messages *@
    </tbody>
</table>
